#Data Types and Structures Questions and answer

1.  What are data structures, and why are they important?
-   Data structures are ways to store data important for easy handling.

2.  Explain the difference between mutable and immutable data types with    examples
-  Mutable can change (list), immutable cannot (tuple, string).

3.  What are the main differences between lists and tuples in Python?
-  List is editable tuple is fixed

4.  Describe how dictionaries store data?
-  Dict stores data in key-value pairs

5.  Why might you use a set instead of a list in Python?
-  Set removes duplicates and is faster

6. What is a string in Python, and how is it different from a list?
-  String is characters only list can have many types.

7. How do tuples ensure data integrity in Python?
-  Tuple is immutable so data can't change.

8. What is a hash table, and how does it relate to dictionaries in Python?
-  Hash table is mapping dict works on it.

9. Can lists contain different data types in Python?
-  Yes list can have int, str, float etc

10. Explain why strings are immutable in Python.
-  They can't change once created.

11. What advantages do dictionaries offer over lists for certain tasks?
-  Dictionaries give faster search and direct access

12. Describe a scenario where using a tuple would be preferable over a list.
-  When data is fixed and should not change.

13. How do sets handle duplicate values in Python?
-  They automatically remove duplicates.

14. How does the “in” keyword work differently for lists and dictionaries?
-  In list → checks value, in dict → checks key.

15. Can you modify the elements of a tuple? Explain why or why not.
-  No, tuples are immutable.

16. What is a nested dictionary, and give an example of its use case?
-  Dict inside dict  student → subjects → marks

17. Describe the time complexity of accessing elements in a dictionary.
-  It is O(1), very fast.

18. In what situations are lists preferred over dictionaries?
-  When order matters more.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
-  They don't follow index only keys

20. Explain the difference between a list and a dictionary in terms of data retrieval.
-  List uses index dict use key.

#Practical Questions

1.  Write a code to create a string with your name and print it.

In [1]:
name = "Arpit"
print(name)

Arpit

2. Write a code to find the length of the string "Hello World"

In [2]:
s = "Hello World"
print(len(s))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
s = "Python Programming"
print(s[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
s = "hello"
print(s.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [5]:
s = "I like apple"
s2 = s.replace("apple", "orange")
print(s2)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [6]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [7]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [9]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [10]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])   # second element

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
lst = [10, 20, 30, 40, 50]
print(lst[::-1])   # quick way
# or:
# lst.reverse()
# print(lst)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [12]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [13]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
nums = (10, 20, 5, 15)
print(min(nums))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [16]:
fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [17]:
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [18]:
s2 = {1, 2, 3, 4, 5}
s2.clear()
print(s2)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [19]:
s3 = {1, 2, 3, 4}
s3.remove(4)
print(s3)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [20]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a | b)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [21]:
x = {1, 2, 3}
y = {2, 3, 4}
print(x & y)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [22]:
person = {'name': 'John', 'age': 25, 'city': 'Delhi'}
print(person)

{'name': 'John', 'age': 25, 'city': 'Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [23]:
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [24]:
d2 = {'name': 'Alice', 'age': 30}
print(d2['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [25]:
d3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d3.pop('age')
print(d3)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [26]:
d4 = {'name': 'Alice', 'city': 'Paris'}
print('city' in d4)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [27]:
lst = [1, 2, 3]
tpl = (4, 5, 6)
dic = {'a': 10, 'b': 20}
print(lst, tpl, dic)

[1, 2, 3] (4, 5, 6) {'a': 10, 'b': 20}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [28]:
import random
rand_list = random.sample(range(1, 101), 5)
rand_list.sort()
print(rand_list)

[39, 80, 82, 94, 96]

28. Write a code to create a list with strings and print the element at the third index.

In [29]:
words = ['one', 'two', 'three', 'four', 'five']
print(words[3])

four

29. Write a code to combine two dictionaries into one and print the result.

In [33]:
combined = d5.copy()
combined.update(d6)
print(combined)

{'x': 1, 'y': 99, 'z': 3}

30. Write a code to convert a list of strings into a set.

In [31]:
str_list = ['apple', 'banana', 'apple', 'mango']
str_set = set(str_list)
print(str_set)

{'mango', 'banana', 'apple'}